@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h4>Resolução das raizes de uma equação do 2º grau</h4>
</div>
<form>
    @*
        WWWWWWWWWWWWWWWWWWWWWWWWWW
    *@



    <div>
        Espescifique, por favor, os coeficientes da equação:<br />
        A: <input type="text" />
        <br />
        B: <input type="text" />
        <br />
        C: <input type="text" />
        <br />

        <input type="submit" name="name" value="Calcular" />
    </div>
</form>